### **Let's Deep Dive Into Basic Operaions of Pandas- Array, List and Dataframes**

In [ ]:
import pandas as pd
#Knowing the version of Pandas
print(pd.__version__)

1.5.3

In [ ]:
#Defined new ARRAY using Pandas
a1= pd.array([1,2,3,4])
a2= pd.array([3,56,6,4])
print(a1+a2)
print(type(a1))

<IntegerArray>
[4, 58, 9, 8]
Length: 4, dtype: Int64
<class 'pandas.core.arrays.integer.IntegerArray'>

In [ ]:
#List Defined
list = [1,43,64,12]
print(list,"is of datatype:",type(list))
s1= pd.Series(list)
print(s1,"is of datatype",type(s1))

[1, 43, 64, 12] is of datatype: <class 'list'>
0     1
1    43
2    64
3    12
dtype: int64 is of datatype <class 'pandas.core.series.Series'>

In [ ]:
#Let's Create Index in Pandas with help of Series
news1 = pd.Series(list,index=["a","b","c","d"])
print(news1)
#Now to access the created new index:-
print(news1[0],"=",news1["a"]) #Here 0th index is got another name as "a"

a     1
b    43
c    64
d    12
dtype: int64
1 = 1

In [ ]:
#Playing with Strings with Pandas
marks = {"Maths":88,"PPS":100,"DBMS":97,"OS":99}
print("Here is simple dictonary format : ",marks)
new_marks= pd.Series(marks)
print(new_marks)

Here is simple dictonary format :  {'Maths': 88, 'PPS': 100, 'DBMS': 97, 'OS': 99}
Maths     88
PPS      100
DBMS      97
OS        99
dtype: int64

In [ ]:
#Let's dive into Dataframs(df)
#Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
data ={
    "Roll_no":[1,2,3,4],
    "Average_Marks": [76.5,75.4,96.5,66.8]
}
print(data)
data_2d = pd.DataFrame(data)
print(data_2d)

{'Roll_no': [1, 2, 3, 4], 'Average_Marks': [76.5, 75.4, 96.5, 66.8]}
   Roll_no  Average_Marks
0        1           76.5
1        2           75.4
2        3           96.5
3        4           66.8

In [ ]:
#Individual Operations of Dataframs
print(data_2d.loc[1])
#lets find out average of

Roll_no           2.0
Average_Marks    75.4
Name: 1, dtype: float64

In [ ]:
#Individual Operations of Dataframs
print(data_2d.loc[2])

Roll_no           3.0
Average_Marks    96.5
Name: 2, dtype: float64

In [ ]:
#Dates defined and printing
dates = pd.date_range("20130101", periods=6)
print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')