LAB 4 EARTHQUAKE DATA SCIENCE BY UI22CS03

In [ ]:
import pandas as pd

In [ ]:
#Earthquake Data imported in CSV format
earth = pd.read_csv("earthquakes.csv")

In [ ]:
#Converting to 2D Dataframe
df = pd.DataFrame(earth)

NameError: ignored

In [ ]:
#Let's display the Earthquake Data
print(df)

NameError: ignored

In [ ]:
#Prining "mag" column data
#print(df[["mag"]])
print(df[["mag","alert"]])
#Display of top 5 top rows of dat
df.head()

       mag alert
0     1.35   NaN
1     1.29   NaN
2     3.42   NaN
3     0.44   NaN
4     2.16   NaN
...    ...   ...
9327  0.62   NaN
9328  1.00   NaN
9329  2.40   NaN
9330  1.10   NaN
9331  0.66   NaN

[9332 rows x 2 columns]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,...,",nc,",automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...

In [ ]:
#SHape of Dataframe
df.shape
#Dimention are in (Rows, Column)

(9332, 26)

In [ ]:
#Knowing individual Datatype
df.dtypes

alert       object
cdi        float64
code        object
detail      object
dmin       float64
felt       float64
gap        float64
ids         object
mag        float64
magType     object
mmi        float64
net         object
nst        float64
place       object
rms        float64
sig          int64
sources     object
status      object
time         int64
title       object
tsunami      int64
type        object
types       object
tz         float64
updated      int64
url         object
dtype: object

In [ ]:
#Printing all the values of Dataframe
df.values

array([[nan, nan, '37389218', ..., -480.0, 1539475395144,
        'https://earthquake.usgs.gov/earthquakes/eventpage/ci37389218'],
       [nan, nan, '37389202', ..., -480.0, 1539475253925,
        'https://earthquake.usgs.gov/earthquakes/eventpage/ci37389202'],
       [nan, 4.4, '37389194', ..., -480.0, 1539536756176,
        'https://earthquake.usgs.gov/earthquakes/eventpage/ci37389194'],
       ...,
       [nan, nan, '2018261000', ..., -240.0, 1537243777410,
        'https://earthquake.usgs.gov/earthquakes/eventpage/pr2018261000'],
       [nan, nan, '38063959', ..., -480.0, 1537230211640,
        'https://earthquake.usgs.gov/earthquakes/eventpage/ci38063959'],
       [nan, nan, '38063935', ..., -480.0, 1537305830770,
        'https://earthquake.usgs.gov/earthquakes/eventpage/ci38063935']],
      dtype=object)

In [ ]:
#Knowing all the Index/Column of Dataframe in earthquake database
print("Following are the Coloumns of Earthquqke\n",df.columns)

Following are the Coloumns of Earthquqke
 Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url'],
      dtype='object')

In [ ]:
#Let's Describe
print(df["mag"])
print(df.describe)

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
        ...
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64
<bound method NDFrame.describe of      alert  cdi        code  \
0      NaN  NaN    37389218
1      NaN  NaN    37389202
2      NaN  4.4    37389194
3      NaN  NaN    37389186
4      NaN  NaN    73096941
...    ...  ...         ...
9327   NaN  NaN    73086771
9328   NaN  NaN    38063967
9329   NaN  NaN  2018261000
9330   NaN  NaN    38063959
9331   NaN  NaN    38063935

                                                 detail      dmin  felt  \
0     https://earthquake.usgs.gov/fdsnws/event/1/que...  0.008693   NaN
1     https://earthquake.usgs.gov/fdsnws/event/1/que...  0.020030   NaN
2     https://earthquake.usgs.gov/fdsnws/event/1/que...  0.021370  28.0
3     https://earthquake.usgs.gov/fdsnws/event/1/que...  0.026180   NaN
4     https://earthquake.usgs.gov/fdsnws/event/1/que...  0.077990   NaN
...                                                 ...       ...   ...
9327  https://earthquake.usgs.gov/fdsnws/event/1/que...  0.018060   NaN
9328  https://earthquake.usgs.gov/fdsnws/event/1/que...  0.030410   NaN
9329  https://earthquake.usgs.gov/fdsnws/event/1/que...  0.452600   NaN
9330  https://earthquake.usgs.gov/fdsnws/event/1/que...  0.018650   NaN
9331  https://earthquake.usgs.gov/fdsnws/event/1/que...  0.016980   NaN

        gap             ids   mag magType  ...  sources     status  \
0      85.0    ,ci37389218,  1.35      ml  ...     ,ci,  automatic
1      79.0    ,ci37389202,  1.29      ml  ...     ,ci,  automatic
2      21.0    ,ci37389194,  3.42      ml  ...     ,ci,  automatic
3      39.0    ,ci37389186,  0.44      ml  ...     ,ci,  automatic
4     192.0    ,nc73096941,  2.16      md  ...     ,nc,  automatic
...     ...             ...   ...     ...  ...      ...        ...
9327  185.0    ,nc73086771,  0.62      md  ...     ,nc,   reviewed
9328   50.0    ,ci38063967,  1.00      ml  ...     ,ci,   reviewed
9329  276.0  ,pr2018261000,  2.40      md  ...     ,pr,   reviewed
9330   61.0    ,ci38063959,  1.10      ml  ...     ,ci,   reviewed
9331   39.0    ,ci38063935,  0.66      ml  ...     ,ci,   reviewed

               time                                     title  tsunami  \
0     1539475168010             M 1.4 - 9km NE of Aguanga, CA        0
1     1539475129610             M 1.3 - 9km NE of Aguanga, CA        0
2     1539475062610             M 3.4 - 8km NE of Aguanga, CA        0
3     1539474978070             M 0.4 - 9km NE of Aguanga, CA        0
4     1539474716050             M 2.2 - 10km NW of Avenal, CA        0
...             ...                                       ...      ...
9327  1537230228060      M 0.6 - 9km ENE of Mammoth Lakes, CA        0
9328  1537230135130               M 1.0 - 3km W of Julian, CA        0
9329  1537229908180  M 2.4 - 35km NNE of Hatillo, Puerto Rico        0
9330  1537229545350             M 1.1 - 9km NE of Aguanga, CA        0
9331  1537228864470             M 0.7 - 9km NE of Aguanga, CA        0

            type                                              types     tz  \
0     earthquake         ,geoserve,nearby-cities,origin,phase-data, -480.0
1     earthquake         ,geoserve,nearby-cities,origin,phase-data, -480.0
2     earthquake  ,dyfi,focal-mechanism,geoserve,nearby-cities,o... -480.0
3     earthquake         ,geoserve,nearby-cities,origin,phase-data, -480.0
4     earthquake  ,geoserve,nearby-cities,origin,phase-data,scit... -480.0
...          ...                                                ...    ...
9327  earthquake         ,geoserve,nearby-cities,origin,phase-data, -480.0
9328  earthquake  ,geoserve,nearby-cities,origin,phase-data,scit... -480.0
9329  earthquake                       ,geoserve,origin,phase-data, -240.0
9330  earthquake  ,focal-mechanism,geoserve,nearby-cities,origin... -480.0
9331  earthquake  ,focal-mechanism,geoserve,nearby-cities,origin... -480.0

            updated                                                url
0     1539475395144  https://earthquake.usgs.gov/earthquakes/eventp...
1     1539475253925  https://earthquake.usgs.gov/earthquakes/eventp...
2     1539536756176  https://earthquake.usgs.gov/earthquakes/eventp...
3     1539475196167  https://earthquake.usgs.gov/earthquakes/eventp...
4     1539477547926  https://earthquake.usgs.gov/earthquakes/eventp...
...             ...                                                ...
9327  1537285598315  https://earthquake.usgs.gov/earthquakes/eventp...
9328  1537276800970  https://earthquake.usgs.gov/earthquakes/eventp...
9329  1537243777410  https://earthquake.usgs.gov/earthquakes/eventp...
9330  1537230211640  https://earthquake.usgs.gov/earthquakes/eventp...
9331  1537305830770  https://earthquake.usgs.gov/earthquakes/eventp...

[9332 rows x 26 columns]>

In [ ]:
#Let's know the count of individual data
print(df.count())

alert        59
cdi         329
code       9332
detail     9332
dmin       6139
felt        329
gap        6164
ids        9332
mag        9331
magType    9331
mmi          93
net        9332
nst        5364
place      9332
rms        9332
sig        9332
sources    9332
status     9332
time       9332
title      9332
tsunami    9332
type       9332
types      9332
tz         9331
updated    9332
url        9332
dtype: int64

In [ ]:
#THIS IS HOW TO APPLY THE NUNIQUE ATTRIBUTE TO THE DATA
print(df.nunique())

alert         2
cdi          37
code       9332
detail     9332
dmin       4647
felt         44
gap        1114
ids        9332
mag         477
magType      10
mmi          77
net          14
nst         102
place      5433
rms         823
sig         268
sources      52
status        2
time       9332
title      7807
tsunami       2
type          5
types        42
tz           29
updated    9332
url        9332
dtype: int64

In [ ]:
#THIS IS HOW TO APPLY THE SUM ATTRIBUTE TO THE DATA IN THE CSV FILE
print(df.sum())

cdi                                                    906.3
code       3738921837389202373891943738918673096941201828...
detail     https://earthquake.usgs.gov/fdsnws/event/1/que...
dmin                                             3345.296264
felt                                                  4050.0
gap                                                748966.61
ids        ,ci37389218,,ci37389202,,ci37389194,,ci3738918...
mag                                                 13971.73
mmi                                                   339.58
net        cicicicincprakncncusciprciusncakncprakciprakci...
nst                                                 102205.0
place      9km NE of Aguanga, CA9km NE of Aguanga, CA8km ...
rms                                                3379.3269
sig                                                   530990
sources    ,ci,,ci,,ci,,ci,,nc,,pr,,ak,,nc,,nc,,us,,ci,,p...
status     automaticautomaticautomaticautomaticautomaticr...
time                                       14355263284847005
title      M 1.4 - 9km NE of Aguanga, CAM 1.3 - 9km NE of...
tsunami                                                   61
type       earthquakeearthquakeearthquakeearthquakeearthq...
types      ,geoserve,nearby-cities,origin,phase-data,,geo...
tz                                                -4217520.0
updated                                    14357623365441865
url        https://earthquake.usgs.gov/earthquakes/eventp...
dtype: object

<ipython-input-16-f9fd4fe56434>:2: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.sum())

In [ ]:
#THIS IS HOW TO APPLY THE MAX ATTRIBUTE TO THE DATA
print(df.max())

cdi                                                      8.4
code                                                80314224
detail     https://earthquake.usgs.gov/fdsnws/event/1/que...
dmin                                                  53.737
felt                                                   580.0
gap                                                   355.91
ids                                             ,uw61437386,
mag                                                      7.5
mmi                                                     9.12
net                                                       uw
nst                                                    172.0
place                                         Western Xizang
rms                                                     1.91
sig                                                     2015
sources                                              ,uw,us,
status                                              reviewed
time                                           1539475168010
title                         M ? - 13km NW of Parkfield, CA
tsunami                                                    1
type                                            quarry blast
types                      ,nearby-cities,origin,phase-data,
tz                                                     720.0
updated                                        1539536756176
url        https://earthquake.usgs.gov/earthquakes/eventp...
dtype: object

<ipython-input-17-51ddeaacd7d1>:2: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.max())

In [ ]:
#THIS IS HOW TO APPLY THE MIN ATTRIBUTE TO THE DATA
print(df.min())

cdi                                                      0.0
code                                                00657027
detail     https://earthquake.usgs.gov/fdsnws/event/1/que...
dmin                                                0.000648
felt                                                     0.0
gap                                                     12.0
ids                                             ,ak20257023,
mag                                                    -1.26
mmi                                                      0.0
net                                                       ak
nst                                                      0.0
place                               0km NE of Pahala, Hawaii
rms                                                      0.0
sig                                                        0
sources                                                 ,ak,
status                                             automatic
time                                           1537228864470
title                        M -0.0 - 10km NE of Aguanga, CA
tsunami                                                    0
type                                              earthquake
types      ,dyfi,finite-fault,general-text,geoserve,groun...
tz                                                    -720.0
updated                                        1537230211640
url        https://earthquake.usgs.gov/earthquakes/eventp...
dtype: object

<ipython-input-18-a7e94ceeeedc>:2: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.min())

In [ ]:
 #THIS IS HOW TO APPLY THE LOC ATTRIBUTE TO THE DATA
 print(df.loc)

NameError: ignored

In [ ]:
#THIS IS HOW TO APPLY THE ILOC ATTRIBUTE TO THE DATA
print(df.iloc())

<pandas.core.indexing._iLocIndexer object at 0x7c09e60935b0>

In [ ]:
#THIS IS HOW TO APPLY THE ISIN() IN DATAFRAME ATTRIBUTE TO THE DATA
print(df.isin(['1']))

      alert    cdi   code  detail   dmin   felt    gap    ids    mag  magType  \
0     False  False  False   False  False  False  False  False  False    False
1     False  False  False   False  False  False  False  False  False    False
2     False  False  False   False  False  False  False  False  False    False
3     False  False  False   False  False  False  False  False  False    False
4     False  False  False   False  False  False  False  False  False    False
...     ...    ...    ...     ...    ...    ...    ...    ...    ...      ...
9327  False  False  False   False  False  False  False  False  False    False
9328  False  False  False   False  False  False  False  False  False    False
9329  False  False  False   False  False  False  False  False  False    False
9330  False  False  False   False  False  False  False  False  False    False
9331  False  False  False   False  False  False  False  False  False    False

      ...  sources  status   time  title  tsunami   type  types     tz  \
0     ...    False   False  False  False    False  False  False  False
1     ...    False   False  False  False    False  False  False  False
2     ...    False   False  False  False    False  False  False  False
3     ...    False   False  False  False    False  False  False  False
4     ...    False   False  False  False    False  False  False  False
...   ...      ...     ...    ...    ...      ...    ...    ...    ...
9327  ...    False   False  False  False    False  False  False  False
9328  ...    False   False  False  False    False  False  False  False
9329  ...    False   False  False  False    False  False  False  False
9330  ...    False   False  False  False    False  False  False  False
9331  ...    False   False  False  False    False  False  False  False

      updated    url
0       False  False
1       False  False
2       False  False
3       False  False
4       False  False
...       ...    ...
9327    False  False
9328    False  False
9329    False  False
9330    False  False
9331    False  False

[9332 rows x 26 columns]

In [ ]:
#Knowing the Mean of every column
print(df.mean())

cdi        2.754711e+00
dmin       5.449253e-01
felt       1.231003e+01
gap        1.215066e+02
mag        1.497345e+00
mmi        3.651398e+00
nst        1.905388e+01
rms        3.621225e-01
sig        5.689991e+01
time       1.538284e+12
tsunami    6.536648e-03
tz        -4.519901e+02
updated    1.538537e+12
dtype: float64

<ipython-input-22-46f41086cfb3>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.mean())

In [ ]:
 #Knwing the data range of particlualr column indexes
 df[110:113]['mag']

110    1.1
111    1.9
112    0.9
Name: mag, dtype: float64

In [ ]:
#Knowing the "Title" associated with the dataframe
 df.loc[110:112, 'title']

IndentationError: ignored

In [ ]:
#Filtering using logical opearions in Dataframe, chekcing the condtions
df.mag>2.5

In [ ]:
#Printing the respective Rows of Dataframe where conditons satisfy
df[df.mag >= 2.5]

In [ ]:
 #Chcecking Multiple Condtions and priting the Data
 df.loc[
    (df.tsunami == 1) | (df.alert == 'red'),
     ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
     ]