### **Understanding Series and Dataframe**

In [ ]:
#First let's Import the Pandas libray
import pandas as pd

In [ ]:
a = [1,"Aditya",89.5,100]
b = ([1,"Aditya",89.5,100],[2,"Anurag",88.8,100],["3","Devansh",90.9,100])
print(a)
print(b)
#Here lets define Series
a_series = pd.Series(a)
print(a_series)
#Here lets define the DataFrame
b_dataframe = pd.DataFrame(b,index=["First","Second","Third"])
b_dataframe.drop([0],axis=1,inplace=True)
print(b_dataframe)

[1, 'Aditya', 89.5, 100]
([1, 'Aditya', 89.5, 100], [2, 'Anurag', 88.8, 100], ['3', 'Devansh', 90.9, 100])
0         1
1    Aditya
2      89.5
3       100
dtype: object
              1     2    3
First    Aditya  89.5  100
Second   Anurag  88.8  100
Third   Devansh  90.9  100

In [ ]:
#Series Data operations
print(a_series)
print(type(a_series))

0         1
1    Aditya
2      89.5
3       100
dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
#Dataframe Data operations
print(b_dataframe)
print(type(b_dataframe))

              1     2    3
First    Aditya  89.5  100
Second   Anurag  88.8  100
Third   Devansh  90.9  100
<class 'pandas.core.frame.DataFrame'>

In [ ]:
#Mutaion in Series
a_Series = pd.DataFrame(b,index =["Student1","Stduent2","Studennt3"])
print(a_Series)
print("Lets's see the data type of Dataframe\n",a_Series.dtypes)

           0        1     2    3
Student1   1   Aditya  89.5  100
Stduent2   2   Anurag  88.8  100
Studennt3  3  Devansh  90.9  100
Lets's see the data type of Dataframe
 0     object
1     object
2    float64
3      int64
dtype: object

In [ ]:
#Mutation in DataFrame
b_dataframe = pd.DataFrame(b,index =["Student1","Stduent2","Studennt3"])
print(b_dataframe)
print("Lets's see the data type of Dataframe\n",b_dataframe.dtypes)

           0        1     2    3
Student1   1   Aditya  89.5  100
Stduent2   2   Anurag  88.8  100
Studennt3  3  Devansh  90.9  100
Lets's see the data type of Dataframe
 0     object
1     object
2    float64
3      int64
dtype: object

In [ ]:
#Lets' Export this Data in Excel:
b_dataframe.to_excel("studensts.xlsx")
#It will export and download the above Dataframe set in Excel Formate

In [ ]:
#Knowing Series
print(a_Series.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Student1 to Studennt3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
 1   1       3 non-null      object
 2   2       3 non-null      float64
 3   3       3 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 120.0+ bytes
None

In [ ]:
#Knowing DataFrame
print(b_dataframe.info())

In [ ]:
marks= b_dataframe[2]
print(marks)

Student1     89.5
Stduent2     88.8
Studennt3    90.9
Name: 2, dtype: float64

In [ ]:
name_marks = b_dataframe[[1,2]]
print(name_marks)
name_marks[[1,2]].shape

                 1     2
Student1    Aditya  89.5
Stduent2    Anurag  88.8
Studennt3  Devansh  90.9

(3, 2)